* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

html, body{
  width: 100%;
  height:100%;
}

body{
  background-color:#4176e1;
}

h1{
  color:white;
}
.game{
  margin: 150 auto 0;
}
  
